* {
	outline: none;
}
hr {
	border-top: 2px solid rgba(0,0,0,.5) !important;
}
#studentModal .modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.alert-custom {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 9999;
	width: 300px;
}
.loader {
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: 0 20px;
	animation: spin 2s linear infinite;
}
.search-table {
	display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}